# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.spec
.venv/
.venv312/
__pycache__/
*.pyc

# Venv
.venv/
.venv312/
env/

# Build / PyInstaller
build/
dist/

# IDE
.vscode/
.idea/

# DB / backups / cache
*.db
backups/

# OS
Thumbs.db
.DS_Store
